@import './variables';

body {
  font-family: 'oswald';
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0 0 5rem 0;
}

.button {
  margin: 0 1rem;
  font-size: 1.3rem;

  a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover, &:focus {
      color: $primary-color;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      color: $secondary-color;
    }
  }
}


.container{
  width: 1460px;
  margin: auto;
}

@font-face {
  font-family: 'oswald';
  src: url(./../assets/fonts/oswald.ttf);
}

@font-face {
  font-family: 'press start';
  src: url(./../assets/fonts/PressStart2P.ttf);
}

h1, h2, h3 {
  color: $primary-color;
}
