@import './variables';

.home {
  background-image: url(./../assets/images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rem 0;

    h1 {
      padding: 0 8rem;
      font-family: 'press start';
      width: 30%;
      text-align: center;
      rotate: -0.3rad;
      font-size: 3rem;
      color: $text-color;
    }
    p{
      font-size: 1.75rem;
      width: 45%;
      text-align: right;
    }
  }
}

.start {
  margin: auto;
  text-align: center;
  margin: 10rem;
  h1 {
    a {
      font-size: 2rem;
    }
  }
}
